{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Edit Profile</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-success">Update</button>
              {% if profile.user_type == "trainer" %}
              <a href="{% url 'trainers' %}" class="btn btn-secondary">Back to Dashboard</a>
              {% else %}
              <a href="{% url 'members' %}" class="btn btn-secondary">Back to Dashboard</a>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}