{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<h1>Edit Profile</h1>
<form method="post">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Update</button>
    {% if profile.user_type == "trainer" %}
    <a href="{% url 'trainers' %}" class="btn btn-secondary">Back to dashboard</a>
      
    {% else %}
      <a href="{% url 'members' %}" class="btn btn-secondary">Back to dashboard</a>
    {% endif %}
</form>
{% endblock %}