<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Genesis Fitness</h5>
                <p>
                    Welcome to Genesis Fitness, where we help you achieve your fitness goals with our expert trainers
                    and state-of-the-art facilities.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'home' %}" class="text-dark">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}" class="text-dark">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}" class="text-dark">Contact</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}" class="text-dark">Services</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#" class="text-dark"><i class="fab fa-facebook-f"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="#" class="text-dark"><i class="fab fa-twitter"></i> Twitter</a>
                    </li>
                    <li>
                        <a href="#" class="text-dark"><i class="fab fa-instagram"></i> Instagram</a>
                    </li>
                    <li>
                        <a href="#" class="text-dark"><i class="fab fa-linkedin"></i> LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
        © 2025 Genesis Fitness. All rights reserved.
    </div>
</footer>