{% extends "base.html" %}
{% block title %}Members Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Members Dashboard</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <h2 class="text-center">Welcome, {{ user.first_name }} {{ user.last_name }}</h2>

    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <a href="{% url 'viewProfile' user.id_number %}" class="btn btn-primary">View Profile</a>
                    <a href="{% url 'editProfile' user.id_number %}" class="btn btn-secondary">Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Classes</h5>
                    <a href="{% url 'bookClasses' user.id_number %}" class="btn btn-primary">Book Class</a>
                    <a href="{% url 'viewBookedClasses' %}" class="btn btn-secondary">View Booked Classes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Membership</h5>
                    <a href="{% url 'viewMembership' %}" class="btn btn-primary">View Membership</a>
                    <a href="{% url 'membership' %}" class="btn btn-secondary">Become a Member</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}