{% extends "base.html" %}
{% block title %}Members Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Members Dashboard</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <h2 class="text-center">Welcome, {{ user.first_name }} {{ user.last_name }}</h2>

    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <a href="{% url 'viewProfile' profile.id_number %}" class="btn btn-primary">View Profile</a>
                    <a href="{% url 'editProfile' profile.id_number %}" class="btn btn-secondary ">Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Classes</h5>
                    <a href="{% url 'bookClasses' profile.id_number %}" class="btn btn-primary">Book Class</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Logout</h5>
                    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}