{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<h1>Profile of {{ profile.first_name }} {{ profile.last_name }}</h1>
<p>ID Number: {{ profile.id_number }}</p>
<p>Email: {{ profile.email }}</p>
<p>Phone: {{ profile.phone_number }}</p>

<a href="{% url 'editProfile' id_number=profile.id_number %}">Edit Profile</a>
{% if profile.user_type == 'member' %}
<a href="{% url 'members' %}">Back to Dashboard</a>
{% else %}
<a href="{% url 'trainers' %}">Back to Dashboard</a>
{% endif %}
{% endblock %}
